.cabecalho {
    align-items: center;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

}

@media screen and (min-width: 1024px){
    .cabecalho{
        padding: 1rem 7.75rem;
        padding-left: 9.5rem
    }
}