.banner {
    background: url('../../img/Hero.jpg') no-repeat center / cover;
    height: 192px;
    position: relative;
    box-shadow: inset 0 0 0 400px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
    .banner {
        height: 352px;
    }
}